html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */

}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 30%;
  /* flex: 1 16%; */
  
  /* margin-top: 30px; */
  justify-content: center;
  display:block;
  align-items: center;
  border-bottom: seashell;
  border: 10px solid whitesmoke;
  /* so child elements can use flexbox stuff too! */
}

.card-image{
  height:480px;
  width:700px;
}

.product-info {
  margin-top: auto;
  display: block;
  justify-content: center;
  
}
.item-media{
  display:flex;
  justify-content: space-between;
 
}
.image-media{
  display:flex;
  flex-basis:50%;
  justify-content: space-between;
}
/* @media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
} */
/* .products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
} */
.list{
  display: block;
  border: 1px solid red;
}
.page-content{
  display: flex;
  margin-top: 30px;
}
.items-make{
  display: block;
  align-items: center;
  margin-top:30px;
  background-color:whitesmoke;

}
.list-make{
  list-style:none;
  justify-content: center;
}
.popular-title{
  font-size: 20px;
  justify-content: center;
  margin-right:30px;
}
.list-image{
  width:100%;
  display:flex;
}
.pagination{
  display:flex;
  justify-content: center
}
.pagination li{
  justify-content: center;
  

}
.product-infor{
  font-size: 24px;
  display: block;
  margin-left:20px;
  background-color:whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.product-details{
  display: block;
  
}
.item{
  display: flex;
  margin-top: 50px;
}
li{
  list-style-type: none
}
.btn{
  margin-left:50%;
}
.cars-header{
  font-size: 40px;
  margin-top: 30px;
  margin-left:30%;
  margin-bottom: 20px;
}
.car-media{
  display:flex;
  margin-top:40px;
  justify-content: space-between;
}
.media-title{
  font-size: 40px;
  margin-top:30px;
}